@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	font-family: inherit;
	box-sizing: border-box;
	// font-weight: inherit;
}

body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
	font-family: "Inconsolata", monospace;

	display: flex;
	justify-content: center;
	align-items: center;
}

.main-game {
	position: relative;
	width: 70vw;
	height: 80vh;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(100px);
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2);
	border-radius: 9px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& .result {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		transition: all 200ms;
		color: rgba(255, 255, 255, 0.1);
		font-size: 7vw;
		-webkit-text-stroke: 1px rgba(0, 0, 0, 0.25);
		font-weight: 900;

		& div {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
		}

		& p {
			&:first-of-type {
				margin-bottom: 10%;
			}
		}
	}

	& button {
		position: absolute;
		bottom: 4vh;
		padding: 2vh 1vw;
		background: transparent;
		border: 1px solid rgba(255, 255, 255, 0.2);
		color: rgba($color: #fff, $alpha: 0.7);
		font-size: 1.2vw;
		cursor: pointer;
		z-index: 100;
		overflow: hidden;
		transition: all 200ms;

		&::after {
			content: "";
			position: absolute;
			height: 100%;
			width: 150%;
			background-color: rgba(#fff, 0.4);
			top: 0;
			left: -170%;
			transform: skew(30deg);
			z-index: -1;
		}

		&:hover {
			// border: 1px solid rgba(255, 255, 255, 0.5);
			color: rgba($color: #fff, $alpha: 1);

			&::after {
				animation: spring-bounce;
				animation-duration: 200ms;
				animation-fill-mode: forwards;
				animation-timing-function: ease-in-out;
			}
		}
	}
}

.active {
	background-color: rgba(255, 255, 255, 0.2);
}

@keyframes spring-bounce {
	0% {
		left: -170%;
	}

	70% {
		left: -20%;
	}

	90% {
		left: -70%;
	}

	100% {
		left: -20%;
	}
}
/////////////////////////////////////////////
/// Making the table
.table {
	border-collapse: collapse;
	z-index: 100;
	height: 60%;
	width: 35%;
	display: flex;
	flex-direction: column;
	// margin-bottom: 5vw;

	& .tr {
		display: flex;
		width: 100%;
		height: 33%;

		&:first-of-type .td {
			border-top: none;
		}

		&:last-of-type .td {
			border-bottom: none;
		}

		& .td:first-of-type {
			border-left: none;
		}

		& .td:last-of-type {
			border-right: none;
		}
	}

	& .td {
		//padding: 0.5rem;
		border: 2px solid rgba(255, 255, 255, 1);
		text-align: center;
		font-size: 6vw;
		font-weight: 300;
		color: rgba(255, 255, 255, 1);
		width: 33%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
